<div class="container">
  <h1>new test</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <%= simple_form_for(@test) do |f| %>
        <div class="row">
          <div class="col-xs-6">
            <%= f.input :name, placeholder: "Give it a name" %>
          </div>
          <div class="col-xs-6">
            <%= f.input :jobtype, placeholder: "Who is this for ?" %>
          </div>
          <div class="col-xs-6">
            <%= f.input :tag_list, as: :check_boxes, collection: ["Pricing", "Product Execution"], label: "choose a skill category" %>
          </div>
        </div>
          # <!-- Inject categories here -->
          <%= f.submit "Next", class: "btn btn-primary"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
